@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Regular.ttf) format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Medium.ttf) format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Italic.ttf) format("ttf");
    font-weight: 700;
    font-style: italic;
  }
}

@layer utilities {
  body {
    @apply font-sans bg-lightGrey text-darkNavy;
  }
  h1 {
    @apply text-[40px] leading-[40px] font-bold lg:text-[136px] lg:leading-[136px];
  }
  h2 {
    @apply text-[64px] font-bold leading-[64px];
  }
  h3 {
    @apply text-[64px] font-normal leading-[64px];
  }
  h4 {
    @apply text-[36px] font-bold leading-[36px];
  }
  h5 {
    @apply text-[18px] leading-[100%] lg:text-[28px] font-bold;
  }
  p {
    @apply text-[12px] font-normal leading-[36px];
  }

  .container {
    @apply mx-auto px-[24px] max-w-[1112px];
  }
}
