@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Regular.ttf) format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Medium.ttf) format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: Rubik;
    src: url(assets/fonts/static/Rubik-Italic.ttf) format("ttf");
    font-weight: 700;
    font-style: italic;
  }

  body {
    @apply font-sans;
  }
}
